@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
  font-family: 'Christmas Tree Lights Demo';
  src:  url('./assets/Christmas\ Tree\ Lights\ Demo.otf') format('opentype')
}
@font-face {
  font-family: 'Round numbers';
  src:  url('./assets/Combinumerals-OGR4.ttf')
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto:wght@300';
    font-size: 1rem;
}

.overskrift{
  font-size: 6rem;
  font-weight:normal;
  font-family: 'Christmas Tree Lights Demo';
}

.billede{
  height: 100px;
  width: 100px; 
  transition: 2s cubic-bezier(.93,-0.22,.95,1);
}

body{
    display: grid;
    background-color: lightgreen;
    overflow: hidden;
    width: 100vw;
    font-family: 'Christmas Tree Lights Demo';
    grid-template-rows: 1fr 5fr 1fr;
}

header{
    display: grid;
    place-items: center;
    /* border: 2px solid hotpink; */
    height: 20vh;
} 

main{
    display: grid;
    /* border: 2px solid hotpink; */
    grid-template-columns: repeat(10, 1fr);
}

main div{
  position:relative;
}

footer{
    display: grid;
    place-items: center;
    /* border: 2px solid hotpink; */
}

/* ---------------------------------------------------------------- */

  .doorgroup {
    perspective: 200px;
    cursor: pointer;
    display: inline-flex;
    position: absolute;
    padding: 2rem;
  }
  
  .doorway {
    border: 3px dotted #C65C5C;
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: grid;
    place-items: center;
    transition: 2s cubic-bezier(.93,-0.22,.95,1);
  }
  
  .door {
    height: 100px;
    width: 100px;
    background: green;
    /* background-image: url('http://joeymorello.com/asset_host/door.png'); */
    border-left: none;
    transition: 900ms transform ease-in-out;
    transform: rotateY(180deg);
    transform-origin: left;
    display: grid;
    place-items: center;
    transform: translate(-50%, -50%);
  }
  
  .lågenummer{
    font-family: 'Round numbers';
    transform: rotateY(180deg);
    font-size: 6rem;
    padding-top: .9rem;
  }
  
  /* .door:hover {
    transform: rotateY(340deg);
  } */

  .nummer{
      transform: scale(300%) rotateY(180deg);
  }

