@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
  font-family: 'Christmas Tree Lights Demo';
  src:  url('./assets/Christmas\ Tree\ Lights\ Demo.otf') format('opentype')
}
@font-face {
  font-family: 'Round numbers';
  src:  url('./assets/Combinumerals-OGR4.ttf')
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto:wght@300';
    font-size: 1rem;
}

.overskrift{
  font-size: 6rem;
  font-weight: normal;
  font-family: 'Christmas Tree Lights Demo';
  color: rgb(1, 255, 77);
}


body{
    display: grid;
    background-image: url('./assets/julebg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    
    /* overflow: hidden; */
    width: 100vw;
    font-family: 'Christmas Tree Lights Demo';
    grid-template-rows: 0.5fr 5fr 0.5fr;
  }

  header{
    display: grid;
    place-items: center;
    /* border: 2px solid hotpink; */
    height: 20vh;
  } 

#darkmaker{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  /* background-color: rgba(65, 65, 65, 0.678); */
  z-index: 0;
  transition: all .5s ease-in-out;
}

main{
  display: grid;
  /* border: 2px solid hotpink; */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 1rem;
}

main div{
  position: relative;
}



footer{
    display: grid;
    place-items: center;
    /* border: 2px solid hotpink; */
  }


#riddle{
  background-color: rgb(121, 121, 121);
  z-index:4;
  position: fixed;
  top: -20vw;
  left: 25vw;
  width: 50vw;
  height: 20vh;
  display: grid;
  border-radius: 3rem;
  place-items: center;
  transition: all 1s cubic-bezier(.93,-0.22,.95,1);
}
#riddle.show{
  top:  25vw;
}
#riddle2{
  /* background-color: rgb(121, 121, 121); */
  background-image: url('./assets/rainbow.gif');
  background-size: cover;
  z-index:4;
  position: fixed;
  top: -100vw;
  left: 0vw;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  place-items: center;
  transition: all 1s cubic-bezier(.93,-0.22,.95,1);
}

.rpic{
  width: 30vw;
  height: 50vh;
}

#riddle2.show2{
  top:  0vw;
}

#closeicon{
  cursor: pointer;
}

.nope{
  animation: nope 1s forwards ease-in-out;
}

.simon{
  animation: sjov 1s forwards infinite ease-in-out;
}

@keyframes sjov {
  50%{
    transform: rotateY(3600deg);
  }
}

@keyframes dagenslåge{
  50%{
    color: yellow;
  }
  100%{
    color: rgb(182, 182, 72);
  }
}

@keyframes nope {
  20%{
    padding-right: 2rem;
    background-color: rgb(255, 41, 41);
  }
  30%{
      background-color: rgb(255, 32, 32);
    }
    40%{
      padding-right: 0rem;
      padding-left: 1.5rem;
      background-color: rgb(255, 22, 22);
    }

    50%{
      background-color: rgb(206, 1, 1);
    }
    60%{
      padding-right: 2rem;
      padding-left: 0rem;
      background-color: rgb(206, 1, 1);
    }
    70%{
      background-color: rgb(187, 106, 31);
  }
  80%{
    padding-right: 0rem;
    padding-left: 1.5rem;
      background-color: rgb(99, 141, 0);
    }
    100%{
      padding-right: 0rem;
      padding-left: 0rem;
      background-color: green;
      
    }
  }
  


  

  /* ---------------------------------------------------------------- */

.doorway, .door, .wholedoor, .billede{
  height:100px;
  width:100px;
}
.billede{
  transition: 2s cubic-bezier(.93,-0.22,.95,1);
}

.wholedoor{
  position: relative;
  /* border: solid 3px black; */
}

  .doorgroup {
    perspective: 400px;
    cursor: pointer;
    display: inline-flex;
  }
  
  .doorway {
    /* border: 3px dotted #C65C5C; */
    overflow: hidden;
    transition: 2s cubic-bezier(.93,-0.22,.95,1);
    
  }
  
  .door {
    
    background: green;
    border-left: none;
    transition: 900ms transform ease-in-out;
    transform: rotateY(180deg);
    transform-origin: left;
    display: grid;
    place-items: center;
  }
  
  .lågenummer{
    font-family: 'Round numbers';
    transform: rotateY(180deg);
    font-size: 6rem;
    padding-top: .9rem;
    background-image: url('./assets/julemand.gif');
  }
  .dagensL{
  animation: dagenslåge 1s forwards infinite;
  }
  
  /* .door:hover {
    transform: rotateY(340deg);
  } */
