@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto:wght@300';
    font-size: 1rem;
}

header{
    display: grid;
}

main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
    gap: 2rem;
    background-color: gray;
    background-image: url(./Assets/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    width: 25vw;
    height: 25vh;
    padding: 1rem;
    border-radius: .2rem;
    cursor: pointer;
    box-shadow: 0 15px 25px -10px rgba(0,0,0);



    position: relative;
    overflow: hidden;
    transition: background-color 200ms ease-in-out;
}

*:before,
*:after {
  box-sizing: border-box;
}


.card::before,
.card::after {
  content: "";
  width: 0%;
  height: 0.35em;
  background-color: whitesmoke;
  position: absolute;
  transition: width 200ms ease-in-out;
}

.card::before {
  left: 0;
  top: 0;
}

.card::after {
  right: 0;
  bottom: 0;
}

.card:hover::before,
.card:hover::after {
  width: 100%;
}

.card:hover {
  background-color: #1034b2;
}
