@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header{
    height: 10vh;
    background: black;
    display: grid;
    place-items: center;
    color: white    ;
}

main{
    position: relative;
    height: 90vh;
    /* overflow: hidden; */
}
h2{
    padding-top: 1rem;
    text-align: center;
}

canvas{
    position: absolute;
    bottom: 0;
}

#cumOverload{
    text-decoration-line: underline;
    animation: warning 1s ease-in-out infinite;
    font-family: 'Rowdies';
}

@keyframes warning {
    0%{
        color: black;
        font-size: 1.5rem;
    }
    50%{
        color: red;
        font-size: 2rem;
    }
    100%{
        font-size: 1.5rem;
    }
}