@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 1rem;
}


body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas{
    position: fixed;
    top: 0;
    bottom: 0;
}

#info{
    position: fixed;
    z-index: 5;
    color: white;
    right: 2rem;
    bottom: 2rem;
    transition: all .3 ease-in-out;
}

.rot-left{
    animation: rotate_left 5s linear infinite;
}
.rot-right{
    animation: rotate_right 5s linear infinite;
}

@keyframes rotate_left {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-360);
    }
}
@keyframes rotate_right {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360);
    }
}

